name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (e.g. v0.1.1)"
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Create release zip
        # only `src` dir from HEAD
        run: git archive --format=zip --output=InventoryOpenLagReducerForGAMMA-${{ inputs.version }}.zip HEAD:src

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ inputs.version }}
          name: ${{ inputs.version }}
          files: InventoryOpenLagReducerForGAMMA-${{ inputs.version }}.zip
          token: ${{ secrets.GITHUB_TOKEN }}
